
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

header,
footer {
    font-family: 'PT Sans', sans-serif;
}

.middle_section {
    font-family: 'PT Sans', sans-serif;
}

.shoe_type {
    color: #00a0df;
    font-size: 18px;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
}

.shoe_name {
    font-size: 30px;
    font-weight: 900;
    color: #002c9b;
    line-height: 28px;
}

.description {
    font-size: 13px;
    font-weight: 100;
    color: rgb(181, 178, 178);
    line-height: 14px;
}

footer {
    background-color: rgb(0, 38, 132);

    p {
        color: rgb(194, 190, 190);
        font-size: 14px;

    }

    .owner {
        font-style: italic;
    }

    .inspiration {
        background-color: transparent;
        
        a {
            text-align: center;
            background-color: transparent;
            font-size: 12px;
            padding: 0 20px;
            margin: 0 auto;
            color: #c8dcfd;
        }
    }
}



/* styling the login $ sign in page */
.welcome,
.started {
    font-size: 45px;
    font-weight: 500;
    color: #002c9b;
}

.creat_now {
    margin-top: -10px;
    font-size: 18px;
    color: rgb(180, 178, 178);
}

.create_account {
    font-size: 17px;
    text-align: center;

    span {
        color: #00a0df;
    }

}

.login_form input {
    color: gray;
}

label p {
    font-size: 14px;
    color: gray;
}

.forgot_pass {
    display: inline-block;
    color: #00a0df;
}
